
body {
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: white;
  opacity: 0.9;
}

/*Header*/

header {
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  margin: 10px;
  height: 50px;
}

nav {
  display: flex;
  color: white;
  text-decoration: underline;
  padding: 20px;
}

nav span {
  padding: 15px;
}

  /*Mission*/

main {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}
main .mission {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: black;
  width: inherit;
  height: auto;
}
/*Tea of the Month*/
.header-tea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.tea-month {
  flex-wrap: wrap;
  justify-content:center;
  width: 1000px;
  display: flex;
  text-align:center;
  width: 1000px;
  margin: 0 auto;

}
.tea-month img {
  width: 300px;
  height: 200px;
  margin-left: 30px;
}
/*Locations*/

.locations {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin: 0 auto;
}
.locations span, h3 {
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 300px;
  margin-left: 40px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-top: 20px;
}
.Copyright {
  display: flex;
  padding-left: 20px;
}
